*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
button {
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* utility classes */
.container {
  max-width: 90rem;
  margin-inline: auto;
}
.flex {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.flex-05 {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold {
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.sub {
  font-weight: 800;
  color: lightslategray;
  text-transform: uppercase;
}

.link {
  color: white;
  font-weight: 800;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  margin-inline-end: 2rem;
  margin-block-start: 1rem;
  background-color: cadetblue;
  transition: 0.3s ease;
}

.link:where(:hover, :focus) {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transform: translateY(-2px);
}

body {
  background-color: rgba(211, 211, 211, 0.326);
}
